.form_area {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 80vw;
    height: 100vh;
    margin-left: 10rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

input{
    margin: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

select {
    margin: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

label {
    font-weight: bold;
}

button {
    background-color: rgb(19, 200, 161);
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.2s;
}

button:hover {
    background-color: #2a917e;
}